@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-open {
  > span {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 50px;
    transition: transform 0.2s ease-out,
    opacity 0.1s ease-out;
  }

  > span:nth-of-type(1) {
    transform: translateY(0px) rotate(135deg);
  }

  > span:nth-of-type(2) {
    opacity: 0;
  }

  > span:nth-of-type(3) {
    transform: translateY(0px) rotate(-135deg);
  }
}

.menu-close {
  > span {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 50px;
    transition: transform 0.2s ease-out,
    opacity 0.1s ease-out;
  }

  > span:nth-of-type(1) {
    transform: translateY(-10px);
  }

  > span:nth-of-type(2) {
    transform: translateY(0px);
    opacity: 1;
  }

  > span:nth-of-type(3) {
    transform: translateY(10px);
  }
}

.text-linear {
  background: linear-gradient(
          90deg,
          hsla(329, 91%, 65%, 1) 0%,
          hsla(350, 91%, 65%, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-stroke-primary {
  -webkit-text-stroke: 1px hsla(350, 91%, 65%, 1);
}

.skill-box-img {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: hsla(0, 0%, 6%, 0.4);
  border-radius: 20px;
}

.skill-box-after::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 75%);
  opacity: 0;
  transition: all 0.2s ease-in;

  background-color: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;

  width: max-content;
  padding: 10px 25px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #fff;

}